h1{
    color: #e4e4e7;
    font-size: clamp(3rem, 8vw, 7rem);
}

h3{
    color: #64748B;
}

.music-info-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.music-info-header img{
    border-radius: 4em;
}

.music-info{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-around;
}

.music-info-download{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.music-info-download-btn{
    display: flex;
    justify-content: space-between;
}

.music-info-download-btn img {
    flex-shrink: 0;
    border-radius: 4em;
}

.music-info-download-btn button{    
    /* flex-grow: 1; */
    background: none;
    color: #e4e4e7;
    cursor: pointer;
    transition: all 0.15s ease-in-out 0.15s;
    font-size: clamp(1rem, 1vw, 3rem);
    border: 2px solid rgb(34, 197, 94);
    border-radius: 4em;
    width: 50%;
}

.music-info-download-btn button:hover {
    background-color: rgba(34, 197, 94, 0.15);
}

.music-info-download-btn

 /* Electric cyan
#22d3ee */

/* Bright blue */
/* #3b82f6 */

/* Neon violet */
/* #a855f7 */

/* Hot magenta */
/* #ec4899 */

/* Fresh green
#22c55e */

/* Amber highlight, warmer but punchy */
/* #f59e0b */ */
